{% set snake_name = component.name | lower -%}
{% set camel_name = component.name | camel -%}
#define BOOST_TEST_MODULE test module test_{{ snake_name }}

#include <typeinfo>
#include <unordered_map>
#include <utility>
#include <vector>

#include <boost/test/included/unit_test.hpp>

#include <viam/api/common/v1/common.pb.h>
#include <viam/api/component/{{ snake_name }}/v1/{{ snake_name }}.grpc.pb.h>
#include <viam/api/component/{{ snake_name }}/v1/{{ snake_name }}.pb.h>

#include <viam/sdk/common/proto_type.hpp>
#include <viam/sdk/components/{{ snake_name }}/{{ snake_name }}.hpp>
#include <viam/sdk/components/{{ snake_name }}/client.hpp>
#include <viam/sdk/components/{{ snake_name }}/server.hpp>
#include <viam/sdk/tests/mocks/mock_{{ snake_name }}.hpp>
#include <viam/sdk/tests/test_utils.hpp>

namespace viam {
namespace sdktests {

using namespace {{ snake_name }};

using namespace viam::sdk;

BOOST_AUTO_TEST_SUITE(test_{{ snake_name }})

{% for fn in component.member_fns %}
BOOST_AUTO_TEST_CASE(test_{{ fn.name }}) {
    std::shared_ptr<Mock{{ camel_name }}> {{ snake_name }} = Mock{{ camel_name }}::get_mock_{{ snake_name }}();
    // TODO impl
    BOOST_CHECK(false);
}
{% endfor %}

BOOST_AUTO_TEST_SUITE_END()

} // namespace sdktests
} // namespace viam
